<footer class="footer">
    <div class="copy">
        <h4>
            OBJEKTORIENTERADE WEBBTEKNOLOGIER
        </h4>
        <p>
            © Juhani Kotaniemi<br>Blekinge Tekniska Högskola
        </p> 
    </div>
    <div class="social">
        <!-- Loads from FontAwesome (themes/shared/css/font-awesome.min.css) -->
    </div>
    <div style="clear: both"></div>
</footer>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
</body>
</html>