<nav class="navbar">
    <div class="title">
        <h2>Objektorienterade webbteknologier</h2>
    </div>
    <ul class="h_nav">
            <li> <a href="/">HEM</a></li>
            <li> <a href="/about">OM</a></li>
            <li> <a href="/report">RAPPORT</a></li>
    </ul>
    <div class="m_nav">
            <div class="hamburger" >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
    </div>
    <ul class="dropdown_menu">
            <li> <a href="/">HEM</a></li>
            <li> <a href="/about">OM</a></li>
            <li> <a href="/report">RAPPORT</a></li>
    </ul>
</nav>
<div class="spacefiller"></div>