* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    font-family: "Roboto", sans-serif;
    color: var(--main-font-color);
}

.spacefiller {
    top: 0;
    left: 0;
    height: 72px;
}

.main {
    display: flex;
    flex: 1;
    width: 1000px;
    flex-wrap: wrap;
    padding: 4em 0;
    margin: auto;
    gap: calc(var(--def-margin) * 2);
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--def-margin) * 2);
}

.full-width {
    flex: 100%;
}

.c45 {
    flex: 45%;
}

.c25 {
    border-right: 1px solid var(--main-font-color);
    padding-right: calc(var(--def-margin) * 2);
}

.c65 {
    flex: 1;
    flex-grow: 1;
}

figure {
    position: relative;
    max-width: 100%;
    margin-bottom: 2em;
}

figure img {
    width: 100%;
    display: block;
}

figcaption {
    position: absolute;
    display: block;
    bottom: 0;
    color: white;
    background-color: rgba(33, 33, 33, 0.5);
    width: 100%;
    padding: 10px;
    font-weight: 300;
}

.menu-list {
    list-style: none;
}

.menu-list li {
    margin: 0.5rem 0;
}
.ul-list {
    margin-bottom: 1em;
}
.ul-list,
.ul-list li {
    padding-left: 1em;
}

figcaption a:link { color: #ddd; }
figcaption a:visited { color: #ddd; }

.flash-notice {
    color: black;
}

.flash-warning {
    color: red;
}

form {
    margin-bottom: 1rem;
}
@media (max-width: 1264px) {
    footer {
        width: 100%;
        padding: 2rem;
    }

    .main {
        width: 100%;
        padding: calc(var(--def-margin) * 4) var(--main-margin);
    }
    .title {
        left: 2rem;
    }
    
}

@media (max-width: 900px) {
    .c45 {
        width: 100%;
    }
}

@media (max-width: 640px) {
    header h2,
    footer h2 {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .title h2 {
        width: 160px;
        font-size: 16px;
    }
}
