.color-block-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--def-margin);
}

.color-block {
    display: block;
    flex: 45%;
    min-height: 200px;
    padding: var(--def-margin);
    background-color: var(--sec-color);
}

.color-block p,
.color-block h3,
.color-block h4 {
    color: var(--sec-font-color);
}

.color-block:hover { background-color: var(--tert-color); }


.color-block:nth-child(even) { background-color: var(--main-color); }
.color-block:hover { background-color: var(--tert-color); }


.indicator-block {  
    width: 100%;
    min-height: 300px;
    height: auto;
    padding: calc(var(--def-margin) * 2);
}

.indicator-block p,
.indicator-block h3 {
    color: white;
}

.indicator-block:nth-child(odd) {
    background-color: var(--main-color);
}

.indicator-block:nth-child(even) {
    background-color: var(--sec-color);
}

.indicator-block:nth-child(odd) * * {
    text-align: left;
}

.indicator-block:nth-child(even) div * {
    text-align: right;
}

.chart {
    max-height: 400px;
}

.dia-img {
    width: 100%;
}
@media (max-width: 900px) {

    .color-block:any-link {
        display: block;
        flex: 100%;
        min-height: 200px;
        padding: var(--def-margin);
        background-color: var(--main-color);
    }
    .color-block:hover { background-color: var(--tert-color); }

    .color-block:nth-child(even) {
        background-color: var(--sec-color);
    }

    .color-block:nth-child(even):hover { background-color: var(--tert-color); }

    .indicator-block:nth-child(even) .c45:first-child {
        order: 2;
    }
    
    .indicator-block:nth-child(even) .c45:last-child {
        order: 1;
    }
    
    .indicator-block:nth-child(even) .c45 * {
        text-align: left;
    }
}
