{# templates/lucky_number.html.twig #}
{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}
{% block body %}
<main class="main" >
    {% for report in content %}
        <p>
            {{report | raw}}
        </p>
    {% endfor %}
</main>
{% endblock %}
