{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}
{% block header %}Bibliotek{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Välkommen till biblioteket</h2>

    <p>Här kan du göra följande: </p>
    <p><a href="{{ path('library_show_all') }}">Visa alla böcker</a></p>
    <p><a href="{{ path('library_create') }}">Registrera ny bok</a></p>
    </p>
    <p>
        <p>
            <input id="bookIdInput" type="text" name="bookid" style="margin-right: 1rem;">
            <button id="bookIdLink" value="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ "/library/show/" }}">Sök på Id</button>
        </p>
        <p>
            <input id="bookIsbnInput" type="text" name="bookid" style="margin-right: 1rem;">
            <button id="bookIsbnLink" value="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ "/library/show/isbn/" }}">Sök på ISBN</button>
        </p>
</div>

<script type="text/javascript">
    let bookIdLink = document.getElementById("bookIdLink");
    let bookIsbnLink = document.getElementById("bookIsbnLink");
    let bookIdInput = document.getElementById("bookIdInput");
    let bookIsbnInput = document.getElementById("bookIsbnInput");
    console.log(bookIdLink.href);
    bookIdLink.addEventListener("click", function (e) {
        location.href = e.target.value + bookIdInput.value;
    })
        bookIsbnLink.addEventListener("click", function (e) {
        location.href = e.target.value + bookIsbnInput.value;
    })
</script>
{% endblock %}

